.front-text {
  background-color: #be281b;
  padding: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.title {
  height: 10vh;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: white;
  margin-top: 50px;
}

.subtitle {
  color: white;
}

.image-size {
  display: flex;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none !important;
}
.el-menu{
  background: #2f2e3c;
}
.el-menu-item{
color: #fff;
}
.active-link {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.footer-col {
    display: flex;
    justify-content: center;
  }
.imgset {
  display: flex;
  height: 40px;
}
.imgset img {
  height: 100%;
}
.footer-imgset {
  display: flex;
  align-items: center;
}
.footer-right {
  height: 60px;
  /*width: */
}
.footer-right .footer-image {
  height: 100%;
}

.footer-img4 {
  height: 66px
}
.footer-img > div {
  height: 100%;
}
.footer-img img {
  width: 82%;
}
/* .footer-img:nth-of-type(4) img{
  height: 38%;
  padding-top: 13px;
}
.footer-img:nth-of-type(3) img{
  padding-top: 3px;
} */
.footer-div {
  height: 14vh;
  display: flex;
  align-items: center;
  margin-top: -14px
;
}
.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.no-padding {
  padding: 0px;
}

.logo {
  height: 75px;
  width: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #ebebeb;
}

.btn-arrow {
  font-size: 50px;
  position: absolute;
  background: transparent;
  border: transparent;
  color: white;
}

.backToHome {
  position: fixed;
  right: 10px;
  top: 50%;
  z-index: 100;
  width: 100px;
  height: 100px;
}



.loadbase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  background: #FFFFFF;
}


.loadbase img {
  width: 237px;
  position: absolute;
  top: 50px;
}
.loading{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.homeloading {
  width: 150px;
  height: 15px;
  margin: 0 auto;
  margin-top:100px;
}

.loading div {
  margin-bottom: 100px;
}
.loading span{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background: #be281b;
  -webkit-animation: load .5s ease infinite;
}
.loading span:last-child{
  margin-right: 0px; 
}
@-webkit-keyframes load{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
.loading span:nth-child(1){
    -webkit-animation-delay:0.06s;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.12s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.18s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.24s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.35s;
}

.loadinghome{
  width: 150px;
  height: 20px;
  margin: 0 auto -24px auto;
}
.loadinghome span{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background: white;
  -webkit-animation: loadinging 1.04s ease infinite;
}
.loadinghome span:last-child{
  margin-right: 0px; 
}
@-webkit-keyframes loadinging{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
.loadinghome span:nth-child(1){
  -webkit-animation-delay:0.13s;
}
.loadinghome span:nth-child(2){
  -webkit-animation-delay:0.26s;
}
.loadinghome span:nth-child(3){
  -webkit-animation-delay:0.39s;
}
.loadinghome span:nth-child(4){
  -webkit-animation-delay:0.52s;
}
.loadinghome span:nth-child(5){
  -webkit-animation-delay:0.65s;
}