<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- import CSS -->
  <link rel="stylesheet" href="../css/base.css" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="../css/index.css" />
</head>

<body>
  <!-- REFUND Section -->
  <el-container id="refund">
    <el-header class="title">
      <a href="../index.html"><el-image src="../img/header_logo.png" style="width: 237px" /></a>
    </el-header>
    <el-menu :default-active="activeIndex" mode="horizontal" active-text-color="#fff" class="menu-bar">
      <a href="home.html" >
        <el-menu-item index="1">Entrar en Knights Bridge Taxrefund</el-menu-item>
      </a>
      <a href="refund.html" class="active-link">
        <el-menu-item index="2">¿Cómo empezar el reembolso de impuestos? </el-menu-item>
      </a>
      <a href="join.html">
        <el-menu-item index="4">Iniciar desde este momento</el-menu-item>
      </a>
      <a href="contact.html">
        <el-menu-item index="5">Contactar con nosotros</el-menu-item>
      </a>
    </el-menu>
    <el-main style="padding: 10px" class="dialog-content">
      <div class="showList">
        <template v-for="(item,index) in itemList" >
          <div :key="index" class="cont" :class="'hover'+index" @click="openDialog(item, index)">
            <div :class="['refund-col', 'refund'+ index]">
              <el-col :span="24">
                <el-row>
                  <el-image class="logoImg" src="../img/logo_2.png" class="logo" />
                </el-row>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <el-row>
                  <span class="refund-subtitle">
                    {{item.text}}
                  </span>
                </el-row>
              </el-col>
            </div>
            <div :class="['refund-col', 'back'+index]"></div>
          </div>
        </template>
      </div>
    </el-main>
    <div class="footer-div">
      <div class="footer-content">
          <div class="footer-imgset">
            <div class="footer-img">
              <img src="../img/fl1.png" class="footer-image" />
            </div>
          </div>
          <div class="footer-right">
            <img src="../img/fr1.png" class="footer-image" />
          </div>
      </div>
    </div>
    <el-dialog @closed="closeVideo" class="dialog-content dialog-top" :visible.sync="dialogVisible" width="30%"  :modal="true">
      <video class="videoStyle" controls :ref="`video`" :src="currentlyVedio" autoplay muted="true"></video>
    </el-dialog>
  </el-container>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: "#refund",
    data: function () {
      return {
        activeIndex: "2",
        dialogVisible: false,
        showVideo: false,
        currentlyVedio: '',
        show: true,
        timer: '',
        navname: [
        { name: "走进高岛屋", link: "pages/home.html" },
          { name: "如何进行退税", link: "pages/refund.html" },
          { name: "从此刻开始", link: "pages/join.html" },
          { name: "联系我们", link: "pages/contact.html" },
        ],
        itemList: [
          {
            text: 'Registrarse',
            videoLink: "../img/Kaydol.mp4",
            showimage: 'r1.png',
          },
          {
            text: 'Recargar/ Retirar',
            videoLink: "../img/Para.mp4",
            showimage: 'fl2.png',
          },
          {
            text: 'Empezar el reembolso de impuesto',
            videoLink: "../img/Vergi.mp4",
            showimage: 'fl3.png',
          },
          {
            text: 'Para ser VIP ',
            videoLink: "../img/Para.MOV",
            showimage: 'fl4.png',
          },
          {
            text: 'Recompensa por invitación',
            videoLink: "../img/Arkada.MOV",
            showimage: 'fl5.png',
          }
        ]
      };
    }, 
    mounted() {
    },
    methods: {
      openDialog(item, index) {
        this.dialogVisible = true
        this.currentlyVedio = item.videoLink
        this.$refs["video"].play()
      },
      closeVideo() {
        this.$refs["video"].pause()
        console.log(this.$refs)
      },
    },
  });
</script>
<style>
  #refund {
    height: 100%;
    display: flex;
  }

  .refund-subtitle {
    color: white;
    font-size: 22px;
  }
  .logoImg {
    width: 52%;
    margin-top: 20%;
  }
  .el-dialog__body {
    width: 100%;
    height: 80%;
  }

  .dialog-content .el-dialog {
    background-color: transparent;
    box-shadow: none;
  }

  .dialog-top {
    margin-top: -15vh;
  }

  .el-dialog__headerbtn .el-dialog__close {
    color: white;
    font-weight: bold;
    font-size: x-large;
  }

  .showList {
    width: 100%;
    height: calc(80vh - 140px);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .refund0,.refund1,.refund2,.refund3,.refund4 {
    background: url(../img/tt.png)top no-repeat;
    background-size: 100% 100%;
  }
  .hover0,.hover1,.hover2,.hover3,.hover4 {
    position: relative;
    cursor: pointer;
  }
  .cont {
    height: 100%;
    width: 19%;
  }
  .refund-col {
    padding: 0px;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .back0,.back1,.back2,.back3,.back4,.back5 {
    background: url('../img/r1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    top: 0;
  }
  .hover0 .refund-col:first-child{
      z-index: 1;
      backface-visibility: hidden;
  }
  .hover1 .refund-col:first-child{
      z-index: 1;
      backface-visibility: hidden;
  }
  .hover2 .refund-col:first-child{
      z-index: 1;
      backface-visibility: hidden;
  }
  .hover3 .refund-col:first-child{
      z-index: 1;
      backface-visibility: hidden;
  }
  .hover4 .refund-col:first-child{
      z-index: 1;
      backface-visibility: hidden;
  }

  .videoStyle {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .el-col {
    border-radius: 4px;
  }
  .hover0:hover .back0,.hover0:hover .refund0{
    transform: rotateY(180deg)
  }
  .hover1:hover .back1,.hover1:hover .refund1{
    transform: rotateY(180deg);
  }
  .hover2:hover .back2,.hover2:hover .refund2{
    transform: rotateY(180deg);
  }
  .hover3:hover .back3,.hover3:hover .refund3{
    transform: rotateY(180deg);
  }
  .hover4:hover .back4,.hover4:hover .refund4{
    transform: rotateY(180deg);
  }
</style>

</html>